canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 100px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  font-family:  sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family:  sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 1rem;
  background: black;
}

header {
  background: black;
  grid-column: 2 / span 6;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 350px;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}



section {
    grid-column: 1 / 6;
    padding: 1.75rem;
    background: black;
    font-size: 1rem;
    margin-bottom: 350px;
    text-align: center;
    float: left;
}

#videos {
  grid-column: 1 / 12;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: black;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.column video {
  margin-top: 8px;
  vertical-align: middle;
}

#descricao{
  font-family:  sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  padding: 1rem;
  background: black;
}